<div class="bg-white text-dark adventurer" *ngIf="adventurer">
    <div class="row">
        <div class="charname col-md-4">
            <label class="infolabel">CHARACTER NAME</label>
            <div class="infovalue">{{ adventurer.name }}</div>
        </div>
        <div class="charinfo col-md-8">
            <ul>
                <!-- <li *ngFor="let i of adventurer.info">
                    <label class="infolabel">{{ i.name }}</label>
                    <div class="infovalue">{{ i.value.name }}</div>
                </li> -->
                <li>
                  <label class="infolabel">CLASS</label>
                  <div class="infovalue">{{adventurer.class.name}}</div>
                </li>
                <li>
                  <label class="infolabel">BACKGROUND</label>
                  <div class="infovalue">{{adventurer.background.name}}</div>
                </li>
                <li>
                  <label class="infolabel">PLAYER NAME</label>
                  <div class="infovalue"></div>
                </li>
                <li>
                  <label class="infolabel">RACE</label>
                  <div class="infovalue">{{adventurer.race.name}}</div>
                </li>
                <li>
                  <label class="infolabel">ALIGNMENT</label>
                  <div class="infovalue">{{adventurer.alignment.name}}</div>
                </li>
                <li>
                  <label class="infolabel">EXPERIENCE POINTS</label>
                  <div class="infovalue"></div>
                </li>
            </ul>
        </div>
    </div>
    <div class="row">
        <div class="col-4 sectone">
            <div class="stats">
                <ul class="statlist">
                    <li *ngFor="let stat of adventurer.statlist">
                        <div class="score">
                            <div class="statname">{{ stat.name }}</div>
                            <div class="statvalue">{{ stat.values.value }}</div>
                        </div>
                        <div class="modifier">
                            {{ stat.values.bonus >= 0 ? '+' + stat.values.bonus : stat.values.bonus }}
                        </div>
                    </li>
                </ul>
            </div>
            <div class="statapps">
                <div class="inspiration">
                    <div class="singlevalue"></div>
                    <label class="singlelabel">INSPIRATION</label>
                </div>
                <div class="proficiency">
                    <div class="singlevalue"></div>
                    <label class="singlelabel">PROFICIENCY BONUS</label>
                </div>
                <div class="savingthrows">
                  <li *ngFor="let savingthrow of adventurer.savingthrows">
                    <label>{{savingthrow.name}}</label>
                  </li>
                  <li>
                    <label class="statappslabel">Strength</label>
                    <input class="statappsinput" type="text">
                    <input class="statappsinput" type="checkbox">
                  </li>
                  <li>
                    <label class="statappslabel">Dexterity</label>
                    <input class="statappsinput" type="text">
                    <input class="statappsinput" type="checkbox">
                  </li>
                  <div class="statappslabel">SAVING THROWS</div>
                </div>
                <div class="skills">
                  <li *ngFor="let skill of adventurer.skills">
                    <label>{{skill.name}}</label>
                  </li>
                  <li>
                    <label class="statappslabel">Acrobatics</label>
                    <input class="statappsinput" type="text">
                    <input class="statappsinput" type="checkbox">
                  </li>
                  <li>
                    <label class="statappslabel">Animal Handling</label>
                    <input class="statappsinput" type="text">
                    <input class="statappsinput" type="checkbox">
                  </li>
                  <div class="statappslabel">SKILLS</div>
                </div>
            </div>
        </div>
        <div class="col-4">
        </div>
        <div class="col-4">
        </div>
    </div>

</div>
<div class="row justify-content-center">
        <button (click)="generateAdventurer()" type="button" name="generate">Generate Adventurer</button>
</div>
