<div *ngIf="adventurer">
    <div class="row">
        <div class="col-4 text-center">
            <h4>{{ adventurer.name }}</h4>
            <h4>Lv 1 {{ adventurer.race.name }} {{ adventurer.class.name }}</h4>
            <h4>Background: {{ adventurer.background.name }}</h4>
            <h5>HP: {{adventurer.class.hitdie + adventurer.stats.con.bonus}}/{{adventurer.class.hitdie + adventurer.stats.con.bonus}}</h5>
            <div class="row">
                <div class="col">
                    <h5>STR: {{ adventurer.stats.str.value }}</h5>
                </div>
                <div class="col">
                    <h5>({{ adventurer.stats.str.bonus >= 0 ? '+' + adventurer.stats.str.bonus : adventurer.stats.str.bonus }})</h5>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <h5>DEX: {{ adventurer.stats.dex.value }}</h5>
                </div>
                <div class="col">
                    <h5>({{ adventurer.stats.dex.bonus >= 0 ? '+' + adventurer.stats.dex.bonus : adventurer.stats.dex.bonus }})</h5>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <h5>CON: {{ adventurer.stats.con.value }}</h5>
                </div>
                <div class="col">
                    <h5>({{ adventurer.stats.con.bonus >= 0 ? '+' + adventurer.stats.con.bonus : adventurer.stats.con.bonus }})</h5>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <h5>INT: {{ adventurer.stats.int.value }}</h5>
                </div>
                <div class="col">
                    <h5>({{ adventurer.stats.int.bonus >= 0 ? '+' + adventurer.stats.int.bonus : adventurer.stats.int.bonus }})</h5>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <h5>WIS: {{ adventurer.stats.wis.value }}</h5>
                </div>
                <div class="col">
                    <h5>({{ adventurer.stats.wis.bonus >= 0 ? '+' + adventurer.stats.wis.bonus : adventurer.stats.wis.bonus }})</h5>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <h5>CHA: {{ adventurer.stats.cha.value }}</h5>
                </div>
                <div class="col">
                    <h5>({{ adventurer.stats.cha.bonus >= 0 ? '+' + adventurer.stats.cha.bonus : adventurer.stats.cha.bonus }})</h5>
                </div>
            </div>
        </div>
        <div class="col-8">
        </div>
    </div>

</div>

<div class="row">
    <button (click)="generateAdventurer()" type="button" name="generate">Generate Adventurer</button>
</div>
