<div class="bg-light text-dark" *ngIf="adventurer">
    <div class="row">
        <div class="charname col-md-4">
            <label class="infolabel">CHARACTER NAME</label>
            <div class="infovalue">{{ adventurer.name }}</div>
        </div>
        <div class="charinfo col-md-8">
            <ul>
                <li *ngFor="let i of adventurer.info">
                    <label class="infolabel">{{ i.name }}</label>
                    <div class="infovalue">{{ i.value.name }}</div>
                </li>
            </ul>
        </div>
    </div>
    <div class="row">
        <div class="col-4">
            <div class="stats">
                <ul class="statlist">
                    <li *ngFor="let stat of adventurer.statlist">
                        <div class="score">
                            <div class="statname">{{ stat.name }}</div>
                            <div class="statvalue">{{ stat.values.value }}</div>
                        </div>
                        <div class="modifier">
                            {{ stat.values.bonus >= 0 ? '+' + stat.values.bonus : stat.values.bonus }}
                        </div>
                    </li>
                </ul>
            </div>
        </div>
        <div class="col-8">
        </div>
    </div>

</div>
<div class="row justify-content-center">
        <button (click)="generateAdventurer()" type="button" name="generate">Generate Adventurer</button>
</div>
