/* You can add global styles to this file, and also import other style files */

html {

}

.appbody {
    margin: auto;
    width: 800px;
}

.adventurer {
  margin: 10px 0px 0px 0px;
}

.compbody {
    max-width: 800px;
}

.charname {
    border: 1px solid black;
    border-right: 0px;
    border-radius: 10px 0 0 10px;
    margin: 5px 0 10px 15px;
    padding: 10px;
    display: flex;
    flex-direction: column-reverse;
    margin: 15px 0px 20px 0px;
}

.charinfo {
    border: 1px solid black;
    border-radius: 10px;
    padding: 0px 0px 0px 0px;
    margin: 0px 0px 0px 0px;
}

.charinfo ul {
    padding: 10px 0px 0px 0px;
    margin: 0px;
    display: flex;
    flex-wrap: wrap;
}

.charinfo ul li {
    display: flex;
    flex-direction: column-reverse;
    width: 33.33333%;
}

.infolabel {
    font-size: 8pt;
    text-transform: uppercase;
}

.infovalue {
    font-size: 11pt;
    border-bottom: 1px solid #ddd;
}

.sectone {
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    padding: 0 !important;
}

.statlist {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    margin: 0;
    padding: 0;
    text-align: center;
}

.statname {
    font-size: 10px;
    font-weight: bold;
}

.statlist li {
    height: 80px;
    width: 70px;
    list-style-image: none;
    display:block;
    border: 1px solid black;
    background-color: white;
    text-align: center;
    border-radius: 10px;
    flex-direction: column;
    margin-bottom: 20px;
}

.modifier {
    background-color: white;
    display: inline-block;
    border: 1px solid black;
    border-radius: 10px;
    width: 30px;
}

.stats {
    width: 100px;
    font-weight: bold;
    border: 1px solid black;
    border-radius: 10px;
    padding: 10px 10px 0px 10px;
}

.statname {
    margin: 0px 0px 0px 0px;
}

.statvalue {
    font-size: 22pt;
}

.statapps {
  font-weight: bold;
  padding: 10px;
}

.statappslabel {
  font-size: 8pt;
}

.statappscheck {
  appearance: none;
  width: 10px;
  height: 10px;
  border: 1px solid black;
  border-radius: 10px;
  order: 1;
}

input, textarea {
  width: 30px;
  border: 0;
  border-bottom: 1px solid;
}

.singlevalue {
    border: 1px solid black;
    border-radius: 10px;
    padding: 15px;
}

.singlelabel {
    border: 1px solid black;
    border-left: 0px;
    font-size: 6pt;
    width: 100%;
    margin-top: 10px;
    height: 18px;
    text-align: center;
}

.inspiration, .proficiency {
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    width: 100%;
}

.savingthrows {
    border: 1px solid black;
    border-radius: 10px;
    list-style-type: none;
}

.skills {
  border: 1px solid black;
  border-radius: 10px;
  list-style-type: none;
}
